
body {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  grid-template-rows: auto 1fr auto;    
  min-height: 100vh;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fefefe;
  color: #222;

  
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 0.5rem;
}


header {
  grid-column: 1 / 4;
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1rem 0;
}


#course-title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}


nav {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 0.5rem;
  background-color: #0055a5;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #ffffff33;
  color: yellow;
  text-decoration: underline;
  border-radius: 5px;
}


.left-sidebar {
  grid-column: 1 / 2;
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 8px;
  margin: 10px;
}


main {
  grid-column: 2 / 3;
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 8px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1.5rem;
  max-width: 6000px;
}


.card {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 51px rgba(0,0,0,0.1);
}


.right-sidebar {
  grid-column: 3 / 4;
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 8px;
  margin: 10px;
}
.aside-content {
  grid-column: 3 / 4; /* RIGHT side */
  background-color: #eaeaea;
  padding: 5rem;
  border-radius: 8px;
  margin: 10px;
  max-width: 300px;
}


footer {
  grid-column: 1 / 4;
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: .9rem;
}
